<header>
  <div class="header-logo">
  <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
  <a href="/about">TweetAppとは</a>
    </ul>
 </header><div class="about-main">
  <h2>友悟単語帳とは</h2>
  <p>
   友悟が提供する英単語帳です。必要な単語を登録すると、
   単語帳として記憶してくれます。
  </p>
  <img class="about-img" src="/lazygorilla.png">
  <img class="about-img" src="/lazygorilla.png">

</div>