<header>
  <div class="header-logo">
  <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
  <a href="/about">TweetAppとは</a>
  </ul>
</header><div class="main top-main">
  <div class="top-message">
 　 <h2>五十嵐友悟の単語帳</h2>
　  <p>早速、アプリの開発にとりかかろうと思う</p>
  </div>
</div>
